body {
    background-color: white !important;
}
.container-fluid{
  margin-top: 20px;
}

.container {
  margin: 100px;
}
p{
  font-size: 60px;
}
.row{
  border-radius: 20px;
  background-color: #B0DA75;
  height: 300px;
}
.row1{
  border-radius: 20px;
  height: 300px;
  background-color: #B0DA75;
}
.row2{
  border-radius: 20px;
  height: 300px;
  background-color: #B0DA75;
}
p{
  color: rgb(26, 24, 24);
}